<?xml version="1.0"?>
<plugin>
    <extension point="org.datanucleus.type_converter">
        <type-converter name="scalajdo.immutable.List" 
            member-type="scalajdo.collection.immutable.List" 
            datastore-type="java.util.List"
            converter-class="scalajdo.converters.ImmutableListConverter"/>
    </extension>
    <extension point="org.datanucleus.java_type">
        <java-type name="scala.collection.immutable.List" converter-name="scalajdo.immutable.List"/>
    </extension>
</plugin>