<?xml version="1.0"?>
<plugin>
    <extension point="org.datanucleus.type_converter">
        <type-converter name="scalajdo.converters.iterable-converter" member-type="scala.collection.immutable.List" datastore-type="java.util.Collection"
            converter-class="scalajdo.converters.IterableConverter"/>
    </extension>
    <extension point="org.datanucleus.java_type">
        <java-type name="scala.collection.immutable.List" embedded="true" converter="scalajdo.converters.iterable-converter"/>
    </extension>
    <extension point="org.datanucleus.store_mapping">
        <mapping java-type="scala.collection.immutable.List" mapping-class="org.datanucleus.store.rdbms.mapping.java.CollectionMapping"/>
    </extension>
</plugin>